* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    width: 100%;
    background-color: rgb(26, 0, 49);
    align-items: center;
}

header span {
    color: rgb(32, 0, 62);
    background-color: blueviolet;
    border-radius: 4px;
}

header>a {
    color: blueviolet;
    font-weight: 700;
    font-family: "righteous";
    text-decoration: none;
    font-size: 35px;
}


.nav-bar ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    display: flex;
    background-color: rgb(26, 0, 49);
    height: 600px;
}

.hero-wrapper {
    padding:200px 10%;
    width: 50%;
}

.hero-wrapper h1 {
    font-size: 50px;
    color: #fff;
}

.hero-wrapper h2 {
    color: blueviolet;
}

.hero-wrapper p {
    color: #fff;
    padding: 20px 0;
}

.btns-div {
    width: 200px;
    display: inline-flex;
    justify-content: space-between;
}

.btns-div #hire {
    color: #fff;
    background-color: blueviolet;
    padding: 8px 15px;
    border: 2px solid blueviolet;
    border-radius: 7px;
    text-decoration: none;
}

.btns-div #talk {
    color: #fff;
    background: transparent;
    padding: 8px 15px;
    border: 2px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 20px blueviolet;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.btns-div #talk:hover {
    color: #fff;
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

.img-div {
    margin-top: 70px;
}

.img-div img {
    border: 10px solid rgb(100, 0, 194);
    border-radius: 50px;
    box-shadow: 7px 10px 30px rgb(86, 1, 165);
}

/* about section styles */
.about {
    background-color: #dbdbdb;
    height: 800px;
    display: flex;
    align-items: center;
    padding: 60px;
}

.right-wrapper {
    width: 50%;
}

.right-wrapper h2 {
    color: rgb(86, 1, 165);
    margin-bottom: 10px;
}

.right-wrapper p {
    color: black;
    margin-bottom: 20px;
    line-height: 20px;
}

.right-wrapper button {
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border: 2px solid rgb(108, 15, 194);
    border-radius: 8px;
    background-color: rgb(108, 15, 194);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.left-wrapper {
    width: 50%;
    padding-left: 20px;
}
.left-wrapper img {
    border: 15px solid rgb(60, 0, 112);
    border-radius: 25px;
    box-shadow: 5px 8px 30px grey;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 38%;
}

/* Services Section style */
