* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* position: sticky; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 10%;
    width: 100%;
    background-color: rgb(26, 0, 49);
    align-items: center;
}

header span {
    color: rgb(32, 0, 62);
    background-color: blueviolet;
    border-radius: 4px;
}

header>a {
    color: blueviolet;
    font-weight: 700;
    font-family: "righteous";
    text-decoration: none;
    font-size: 35px;
}


.nav-bar ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.nav-bar ul a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    display: flex;
    background-color: rgb(26, 0, 49);
    height: 600px;
}

.hero-wrapper {
    padding:200px 10%;
    width: 50%;
}

.hero-wrapper h1 {
    font-size: 50px;
    color: #fff;
}

.hero-wrapper h2 {
    color: blueviolet;
}

.hero-wrapper p {
    color: #fff;
    padding: 20px 0;
}

.btns-div {
    width: 200px;
    display: inline-flex;
    justify-content: space-between;
}

.btns-div #hire {
    color: #fff;
    background-color: blueviolet;
    padding: 8px 15px;
    border: 2px solid blueviolet;
    border-radius: 7px;
    text-decoration: none;
}

.btns-div #talk {
    color: #fff;
    background: transparent;
    padding: 8px 15px;
    border: 2px solid #fff;
    border-radius: 7px;
    box-shadow: 0 0 20px blueviolet;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}

.btns-div #talk:hover {
    color: #fff;
    background-color: blueviolet;
    border: 2px solid blueviolet;
}

.img-div {
    margin-top: 70px;
}

.img-div img {
    border: 10px solid rgb(100, 0, 194);
    border-radius: 50px;
    box-shadow: 7px 10px 30px rgb(86, 1, 165);
}

/* about section styles */
.about {
    background-color: #d5bdda;
    height: 800px;
    display: flex;
    align-items: center;
    padding: 60px;
}

.right-wrapper {
    width: 50%;
}

.right-wrapper h2 {
    color: rgb(86, 1, 165);
    margin-bottom: 10px;
}

.right-wrapper p {
    color: black;
    margin-bottom: 20px;
    line-height: 20px;
}

.right-wrapper button {
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    border: 2px solid rgb(108, 15, 194);
    border-radius: 8px;
    background-color: rgb(108, 15, 194);
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 50px;
}

.left-wrapper {
    width: 50%;
    padding-left: 20px;
}
.left-wrapper img {
    border: 15px solid rgb(60, 0, 112);
    border-radius: 25px;
    box-shadow: 5px 8px 30px grey;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 38%;
}

/* Services Section style */
.services {
    height: 1170px;
    padding: 100px;
}

.services h2 {
    text-align: center;
    color: rgb(86, 1, 165);
    font-size: 36px;
    margin-bottom: 50px;
}

.services-wrapper {
    display: flex;
    justify-content: space-evenly;
}

/* Fashion Area styles */
#fashion {

}

.a-img-div {
    margin-bottom: 50px;
}

.a-img-div img {
    border-radius: 20px;
    box-shadow: 2px 2px 12px;
}

#fsh {
    rotate: -15deg;
}

#fashion ul {
    list-style: none;
    margin-bottom: 30px;
}

#fashion ul li {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 7px;
}

/* Makeup area styles */
#makeup {

}

#mkp {
    rotate: 15deg;
}

#makeup ul {
    list-style: none;
    height: 171px;
    margin-bottom: 30px;
}

#makeup ul li {
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 7px;
}

/* Portfolio Section Styles */
.portfolio {
    background-color: rgb(26, 0, 49);
    height: 800px;
    border-top-left-radius: 130px;
    border-bottom-right-radius: 130px;
    padding: 90px 120px;
}

.portfolio #container {
    display: flex;
    gap: 50px;
}

#container h2 {
    color: #fff;
    padding-bottom: 15px;
    font-family: cursive;
}

#container p {
    color: #b078c8;
    font-size: 15px;
    margin-bottom: 15px;
}

.right-p-div .card {
    background: #b078c8;
    margin: 0 15px 15px 0;
    border-radius: 5px;
    height: 275px;
    padding: 20px;
}

.right-p-div .card img {
    width: 100%;
    border-radius: 10px;
}

#bubu {
    width: 200px;
}

.card h3 {
    padding: 10px 0;
}

.right-p-div .card a {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #9357ac;
    color: #000;
    border-radius: 7px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    width: 150px;
}

.right-p-div .top-div {
    display: flex;
}

.right-p-div .bottom-div {
    display: flex;
}

.view-all {
    width: 500px;
    margin-top: 5px;
}

 .view-all #portfolio-button {
    color: #bd90d1;
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #bd90d1;
    border-radius: 10px;
}

/* Reviews */
.reviews {
    padding: 60px 0px;
    background-color: #d5bdda;
    height: 450px;
}

.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.reviews .container {
    padding: 25px;
    background-color: #ceaad5;
    height: 250px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 2px 7px 20px grey;
}

.reviews-wrapper h2 {
    color: #b078c8;
   text-align: center;
    margin-bottom: 20px;
}

.container img {
    border-radius: 10px;
    margin-bottom: 5px;
}

.container h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.container span {
    font-size: 13px;
    color: grey;
    font-style: italic;
    margin-bottom: 5px;
}

.container p {
    font-size: 13px;
}

/* Contact Me Section Styles */
.contact-me {
    padding: 100px;
    background-color: #ceaad5;
    
}
.cm-wrapper {
    display: flex;
    gap: 25px;
}

/* Left div Styles */
.cm-wrapper .left-div {
    background-color: #d5bdda;
    width: 40%;
    height: 580px;
    border-radius: 15px;
    box-shadow: 2px 5px 20px grey;
    padding: 35px;
}

.contact-me>h2 {
    color: #b078c8;
    margin-bottom: 5px;
}

.left-div img {
    width: 100%;
    border-radius: 15px;
}

.left-div h2 {
    padding: 10px 0;
    font-family: cursive;
}

.left-div h3 {
    font-size: 16px;
    color: #35054a;
    font-weight: 550;
    margin-bottom: 30px;
}
.left-div p {
    margin-bottom: 25px;
}

.left-div span {
    color: rgb(133, 21, 181);
    font-size: 22px;
    font-weight: 100;
    font-family:'Times New Roman', Times, serif;
}

.contact-icons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.contact-icons .i-div {
    width: 50px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 1px 1px 10px rgb(86, 8, 158);
    padding: 10px;
    cursor: pointer;
}

/* Right Div Styles */
.right-div {
    background-color: #d5bdda;
    box-shadow: 2px 5px 20px grey;
    height: 580px;
    padding: 15px;
    width: 60%;
    border-radius: 15px;
}

.right-div form {
    padding: 30px;
}

form .top-div {
    display: flex;
    gap: 80px;
}

label {
    margin-bottom: 5px;
}

form input {
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: 3px solid #bd90d1;
    padding: 5px;
    font-size: 15px;
}

.reg-divs {
    margin-top: 25px;
}

#name, #number {
    width: 135%;
}

#email, #sub {
    width: 550px;
}

textarea {
    border: 3px solid #ceaad5;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

form a {
    background-color: rgb(104, 17, 185);
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 50px;
    display: flex;
    justify-content: center;
}